


<table class="reservations-table">
  <thead>
    <tr>
      <th>item</th>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations;let i = index">
      <td>{{ getSelectedItemName(reservation.itemId) }}</td>

      <td>{{ reservation.name }}</td>
      <td>{{ reservation.date }}</td>
      <td>{{ reservation.time }}</td>
      <td> <button (click)="deleteReservation(i)">Delete</button></td>
    </tr>
  </tbody>
</table>
