<!-- <nav class="navbar">
  <div class="container">
    <a class="logo" href="#">_CoffeeShop_<span>.</span></a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/home" routerLinkActive="active-link"><span class="pi pi-home"> Home</span></a>
      <a class="nav-link" routerLink="/menu"  fragment="menu-section" routerLinkActive="active-link"  ><span class="pi pi-face-smile"> Menu</span></a>
   <a class="nav-link" routerLink="/reservation" routerLinkActive="active-link"  *ngIf="userRole !== 'admin'"><span class="pi pi-eye"> Reservation</span></a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active-link" *ngIf="userRole !== 'admin'"><span class="pi  pi-address-book"> Contact</span></a>
      <a class="nav-link" routerLink="/feedback" routerLinkActive="active-link" *ngIf="userRole === 'admin'"><span class="pi  pi-address-book"> feedback</span></a>
      <a class="nav-link" routerLink="../sign" routerLinkActive="active-link"><span class="pi pi-user">SignUp</span></a>


      <a class="nav-link" routerLink="/manage-reservations" routerLinkActive="active-link" *ngIf="userRole === 'admin'"><span class="pi pi-user">Manage Reservations</span></a>
      <a class="nav-link" routerLink="/cartadmin"  *ngIf="userRole === 'admin'" routerLinkActive="active-link"><span class="pi pi-shopping-cart"></span></a>
   <a class="nav-link" routerLink="/total-itemuser" routerLinkActive="active-link"  *ngIf="userRole !== 'admin'"><span class="pi pi-shopping-cart">  My Cart</span></a>
   <a class="nav-link" routerLink="/myaccountuser" routerLinkActive="active-link"  *ngIf="userRole !== 'admin'"><span class="pi pi-eye">  My Account</span></a>



    </div>
  </div>
</nav> -->
<!-- looping in the elements of the navbar where they are being sending from user and admin -->

<nav class="navbar">
  <div class="container">
    <a class="logo" href="#">_CoffeeShop_<span>.</span></a>
    <div class="navbar-nav">
      <ng-container *ngFor="let link of navLinks">
        <a class="nav-link" [routerLink]="link.path" routerLinkActive="active-link" *ngIf="link.roles.includes(userRole)">
          <span [class]="link.icon"> {{ link.label }}</span>
        </a>
      </ng-container>
      <button id="b1" (click)="onButtonClick()">Click Me</button>
      <app-my-button (myClick)="handleMyClick()"></app-my-button>
    </div>
  </div>
</nav>
