body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.card {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.reservation-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  color: #333;
  border: 2px solid #8b4513;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.reservation-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #8b4513;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

label {
  display: block;
  color: #555;
  margin-bottom: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

input, select {
  width: calc(100% - 20px);
  padding: 12px;
  border: 1px solid #8b4513;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

input:focus, select:focus {
  border-color: #6a3010;
  outline: none;
}

button {
  background-color: #8b4513;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #6a3010;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
